//@import "../node_modules/bootstrap/less/bootstrap.less";
//@import "fonts.css";

//@import "elements.less";

@font-family-sans-serif: 'Open Sans', sans-serif;

@ddd: 1;

@agVideoPortH: 400;
@agVideoPortW: 650;

@cvBGColor: #f4511e;
@cvColor: #ffffff;

body .jumbotron {
  background-color: @cvBGColor;
  color: @cvColor;
}

